body{
    font-family: 'Open Sans';
    min-width: 320px;
    max-width: 1920px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}
a{
    color: black;
    text-decoration: none;
}
/* .header{
    max-width: 1032px;
    width: 856px;
} */
.first_blok{
    width: 856px;
    margin: auto;

}
.header_container{
    max-width: 1032px;
    /* background-color: black; */
    display: flex;
    justify-content: flex-end; 
    
}
.menu{
    padding: 40px 20px 20px 20px;
    font-size: 20px;
}
.menu:hover{
    color: #ff6464;
}
.button{
    display: inline-flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 43px;
    padding: 0 30px;
    background-color: #ff6464;
    color: white;
    margin-bottom: 30px;
}
.button:hover{
    color: #ff6464;
    background-color: white;
    border: 1px solid #ff6464;
    

} 
.hello_title{
    font-size: 44px;
}
.hello_text{
    padding: 0px 0px 40px 0px;
    font-size: 20px;
}
.container_hello{
    display: flex;
}
.img_hello{
    height: 243px;
    flex: 0 0 243px;
    padding: 30px 0 0 30px ;
    /* border-radius: 50%;
    background-color: rgb(173, 173, 173); */

}
img{
 width: 80%;
}
.second_blok{
    background-color: #f8cccc;
    padding: 25px 0;
}
.width{
    width: 856px;
    margin: auto;
}
.posts_title{
    flex: 1 1 auto;
    font-size: 20px;
    margin-bottom: 20px;
}
.posts_header{
    display: flex;
}
.posts_view-all{
    color:#ff6464;
}
.posts_items{
    display: flex;
    margin: 0 -10px;
    
}
.posts_column{
    flex: 0 1 50%;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
}
.post_titee{
    font-size: 26px;
    font-weight: 600;
}
.post_info{
    padding: 10px 0;
}
span{
    margin: 0 10px;
}



